extends layout
    
block content

    h1 #{title}
    p
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quia voluptas, accusantium sapiente sed, itaque repellendus repellat hic nisi harum natus provident totam nulla, voluptatibus maxime in earum nemo maiores!
    p
        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate quia voluptas, accusantium sapiente sed, itaque repellendus repellat hic nisi harum natus provident totam nulla, voluptatibus maxime in earum nemo maiores!    