extends layout

block content
    h1 #{title }

    form(method="post", action="/categories/add")
        .form-group
            label Title:
            input(name='title',type='text')

        .form-group
            label Description:
            textarea(name='description')
        input(type="submit",name="submit", value="Save")
        a(href='/manage/categories') Back

    //- Create route in categories.js for /categories/add

