<div class="client-list">
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Company</th>
      <th></th>  <!--Button -->
    </tr>
    <tr *ngFor="let client of clients">
      <td>{{client.first_name}}</td>
      <td>{{client.last_name}}</td>
      <td>{{client.email}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.company}}</td>
      <td><a href="" class="btn btn-primary">Edit</a></td>
      <td><a href="" class="btn btn-danger">Delete</a></td>
    </tr>

  </table>
</div>
