.create-btn {
    margin-top: 15px;
    margin-bottom: 20px;
}

#messages {
    margin: 10px;
}

#messages li {
    list-style: none;
    padding: 10px;
}

#messages ul {
    margin: 0;
    padding: 0;
}

#messages .Success {
    background: rgb(59, 235, 147);
    color: #000000;
}

#messages .error {
    background: rgb(207, 51, 51);
    color: #000000;
}

.navbar {
    margin-bottom: 0;

}

.showcase {
    border-radius: 0;
    background: url('/img/home-bg.jpg') no-repeat 0 -150px;
    min-height: 400px;
    color: white;

}